.navigation-bar {
  a {
    text-decoration: none;
  }

  ul {
    display: flex;
    justify-content: flex-start;
    @media screen and (min-width: 960px) {
      justify-content: space-evenly;
    }
    margin: 0;
  }
  ul > li {
    list-style: none;
    padding: 0.2rem;
    @media screen and (min-width: 960px) {
      padding: 0.5rem 1.5rem;
    }
    border: 1px solid lightgrey;
    border-radius: 15%;
  }

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1.5rem 0;
}
