<div class="navigation-bar">
    <ul>
        <li> <a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/binding-demo']">Binding Demo</a></li>
        <li><a [routerLink]="['/books']">Books</a></li>
    </ul>
</div>