<h3>Book List</h3>
<div class="book-entry" *ngFor="let book of books">
  <div class="field-row">
    <div class="field-label">id:</div>
    <div class="field-value">{{ book.id }}</div>
  </div>

  <div class="field-row">
    <div class="field-label">ISBN:</div>
    <div class="field-value">{{ book.isbn }}</div>
  </div>

  <div class="field-row">
    <div class="field-label">Title:</div>
    <div class="field-value">{{ book.title }}</div>
  </div>

  <div class="field-row">
    <div class="field-label">Author:</div>
    <div class="field-value">{{ book.author }}</div>
  </div>

  <div class="field-row">
    <div class="field-label">Genre:</div>
    <div class="field-value">{{ book.genre }}</div>
  </div>

  <div class="field-row">
    <div class="field-label">Pages:</div>
    <div class="field-value">{{ book.pages }}</div>
  </div>

  <div class="field-row">
    <div class="field-label">Year Published:</div>
    <div class="field-value">{{ book.yearPublished }}</div>
  </div>

  <div class="field-row">
    <div class="field-label">Appraisal:</div>
    <div class="field-value">{{ book.appraisal || "--" | currency }}</div>
  </div>
  <div class="field-row">
    <div class="field-link"><a [routerLink]="['edit', book.id]">Edit</a></div>
  </div>
</div>
