<div class="title">
  {{ config?.titleText }}
</div>

<div [formGroup]="bookForm">
  <div class="field-label">ISBN:</div>
  <div class="field-value"><input type="text" formControlName="isbn" />*</div>

  <div class="field-label">Title:</div>
  <div class="field-value"><input type="text" formControlName="title" />*</div>

  <div class="field-label">Author:</div>
  <div class="field-value"><input type="text" formControlName="author" />*</div>

  <div class="field-label">Genre:</div>
  <div class="field-value"><input type="text" formControlName="genre" /></div>

  <div class="field-label">Pages:</div>
  <div class="field-value"><input type="text" formControlName="pages" /></div>

  <div class="field-label">Year Published:</div>
  <div class="field-value">
    <input type="text" formControlName="yearPublished" />
  </div>

  <div class="error-summary" *ngIf="bookForm.invalid">
    <div *ngIf="isbn.invalid && (isbn.dirty || isbn.touched)">
      <div *ngIf="isbn.errors?.required" class="alert alert-danger">
        ISBN is required
      </div>
    </div>

    <div *ngIf="title.invalid && (title.dirty || title.touched)">
      <div *ngIf="title.errors?.required" class="alert alert-danger">
        Title is required
      </div>
    </div>

    <div *ngIf="author.invalid && (author.dirty || author.touched)">
      <div *ngIf="author.errors?.required" class="alert alert-danger">
        Author is required
      </div>
    </div>
  </div>

  <div *ngIf="pages.invalid && (pages.dirty || pages.touched)">
    <div *ngIf="pages.errors?.pattern" class="alert alert-danger">
      Pages must be numeric
    </div>
  </div>

  <div *ngIf="yearPublished.invalid && (yearPublished.dirty || yearPublished.touched)">
    <div *ngIf="yearPublished.errors?.pattern" class="alert alert-danger">
      Year published must be numeric
    </div>
  </div>

  <div>* - required field</div>

  <div class="submit">
    <button [disabled]="!bookForm.valid" type="submit" (click)="onSave()">
      {{ config?.buttonText }}
    </button>
  </div>
</div>
