.field-label {
    font-weight: 700;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;

}

.field-row {
    display: flex;
}

.book-entry {
    border-bottom: 1.5px solid black;
    margin: 2rem 0;
}