$header-height: 5rem;

.title {
  text-align: center;
  background-color: rgb(45, 51, 59);
  height: $header-height;

  h1 {
    display: inline-block;
    line-height: 1;

    @media screen and (min-width: 960px) {
        line-height: 2.2;
    }
  }

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgba(31, 31, 31, 0.322);


  .container-inner {
    padding: 0 2rem;
    margin: 0;
    min-height: calc(100vh - #{$header-height});
  }
}
