<section class="title">
  <h1>The Great App of Angular Stuffness</h1>
</section>
<div class="container">
  <div class="container-inner">
    <!-- TODO:  move to navigation component-->
    <section class="navigation-bar">
      <app-navigation-bar></app-navigation-bar>
    </section>
    <router-outlet></router-outlet>
  </div>
</div>
