<h2>Binding Demo Overview</h2>
<input #txtInput />
<button (click)="objectExample.foo = txtInput.value">Set it</button>
<app-onpush-poc [testProperty]="objectExample"></app-onpush-poc>
<app-default-poc [testProperty]="objectExample"></app-default-poc>