<section class="onpush-poc-component">
    <h2>Default component</h2>
</section>
<div class="content">
    testProperty = {{testProperty?.foo || 'not set'}}, changeCounter = {{ changeCounter }}
</div>
