<section class="onpush-poc-component">
    <h2>OnPush component</h2>
</section>
<div class="content">
    testProperty = {{testProperty?.foo || 'not set'}}
    change counter = {{ changeCounter }}
</div>
<button (click)="cdr.detectChanges()">detect</button>

