/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #979393e0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: rgb(245, 245, 220);

  a, a:visited {
      color: inherit;
      text-decoration: none;
      font-weight: 800;
  }
}

input {
  padding: 0.5rem;
  border: 1px solid grey;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}