.book-container {
    padding: 2rem 0;
    display: flex;

    .book-search {
        flex: 1 1 20%;
    }

    .book-list {
        flex: 2 1 auto;
    }

    .add-book-link {
        padding: 2rem 0;
    }
}

