<section class="book-container">
    <div class="book-search">
        <app-book-search (searchTextChange)="onSearchTextChanged($event)"></app-book-search>
        <div class="add-book-link"><a [routerLink]="['add']">Add Book</a></div>
    </div>
    <div *ngIf="books$ | async as books; else loadingView" class="book-list">
        <app-book-list [books]="books"></app-book-list>
    </div>
</section>
<ng-template #loadingView>Loading...</ng-template>